@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --mobile-width: 30rem;

    --primary:   #01579B;
    --accent:    #BF360C;
    --accent-hi: #FF5722;
    --text-dark: #111;
    --text-high: #fff;
    --shadow:    #00000080;
    --glow:      #ffffff40;
    --border:    #B0BEC5;

    --page-back: #263238;
    --body-back: #fff;
    --body-text: var(--text-dark);
    --head-back: var(--primary);
    --head-text: var(--text-high);
    --togg-back: #B0BEC5;
    --togg-glow: #FFAB91;
    --togg-flip: #ECEFF1;
    --togg-flop: var(--accent-hi);
    --list-back: #FBE9E7;
    --list-free: #CFD8DC;
    --list-text: var(--text-dark);
    --list-numb: #CFD8DC;
    --butt-back: var(--primary);
    --butt-stop: #B71C1C;
    --butt-warn: #E65100;
    --butt-good: #558B2F;
    --butt-text: var(--text-high);
    --posn-back: var(--primary);
    --posn-text: var(--text-high);
    --age-5: #FF5722;
    --age-4: #FF7043;
    --age-3: #FF8A65;
    --age-2: #FFAB91;
    --age-1: #FFCCBC;
    --age-0: #FBE9E7;
    --urg-5: #f44336;
    --urg-4: #FF9800;
    --urg-3: #FFEB3B;
    --urg-2: #4CAF50;
    --urg-1: #2196F3;
}

html {
    background: var(--page-back);
    background-image: url( '../images/question.svg' );
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    position: relative;
    color: var(--body-text);
    background: var(--body-back);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    max-width: var(--mobile-width);
    margin: 0 auto;
    /* height: 92vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1rem 2rem var(--shadow);
}

p {
    margin: 0.5em 0 1rem;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 1rem;
    background: var(--head-back);
    color: var(--head-text);
}

header .ip {
    font-size: 0.9em;
    opacity: 0.3;
}


main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

nav #onoff {
    display: none;
}

nav label {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1.2rem;
    background: var(--togg-back);
    border-radius: 3rem;
    /* box-shadow: inset 0 0 0.3rem var(--shadow); */
    /* outline: 1px solid var(--shadow); */
}

nav label::before {
    content: '';
    position: absolute;
    display: block;
    left: -3px;
    top: -3px;
    width: calc(1.2rem + 6px);
    height: calc(1.2rem + 6px);
    border-radius: 3rem;
    background: var(--togg-flip);
    box-shadow: 0 0.1rem 0.2rem var(--shadow);
    /* outline: 1px solid var(--shadow); */
}


nav #onoff:checked ~ label {
    background-color: var(--togg-glow);
    /* box-shadow: inset 0 0 0.3rem var(--glow); */
}

nav #onoff:checked ~ label::before {
    right: -3px;
    left: auto;
    background: var(--togg-flop);
}

form label {
    display: block;
    font-size: 1rem;
    color: var(--accent);
    opacity: 0.8;
    margin-bottom: 0.3rem;
}

form input {
    font-size: 1rem;
    display: block;
    margin-bottom: 1rem;
    padding: 0.3rem 0.5rem;
}

form input[type="text"] {
    font-size: 1.3rem;
    width: 100%;
}

form input[type="submit"],
a.button {
    display: block;
    width: max-content;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    background: var(--accent);
    color: var(--butt-text);
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: normal;
    box-shadow: 0 0.1rem 0.2rem var(--shadow);
}

form input[type="submit"]:hover,
a.button:hover {
    background: var(--accent-hi);
    cursor: pointer;
}

section.group {
    padding: 1rem 0;
    border-top: 1px solid var(--border);
}

.ip {
    color: var(--accent);
}

#queue {
    flex: 1;
}

#queue h2 {
    margin-bottom: 0.5em;
}

#bookings {
    counter-reset: slot;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.slot {
    position: relative;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem 0.7rem 0.7rem 3rem;
    border: 2px solid var(--list-free);
}

.slot.booking {
    background: var(--list-back);
    color: var(--list-text);
    border-color: var(--accent);
}

.slot::before {
    font-size: 1.5rem;
    width: 1.5rem;
    counter-increment: slot;
    content: counter(slot);
    color: var(--list-numb);
}

.slot.booking::before {
    color: var(--accent);
}

/* @keyframes wobble {
    0%   { transform: none; }
    15%  { transform: rotateZ(-2deg); }
    30%  { transform: rotateZ( 1deg); }
    45%  { transform: rotateZ(-1deg); }
    60%  { transform: rotateZ( 2deg); }
    75%  { transform: rotateZ(-1deg); }
    100% { transform: none; }
} */

@keyframes vibrate-bit {
    0%   { transform: none; }
    20%  { transform: translate(-1px,  1px); }
    40%  { transform: translate(-1px, -1px); }
    60%  { transform: translate( 1px,  1px); }
    80%  { transform: translate( 1px, -1px); }
    100% { transform: none; }
}

@keyframes vibrate-sum {
    0%   { transform: none; }
    20%  { transform: translate(-2px,  2px); }
    40%  { transform: translate(-2px, -2px); }
    60%  { transform: translate( 2px,  2px); }
    80%  { transform: translate( 2px, -2px); }
    100% { transform: none; }
}

@keyframes vibrate-lot {
    0%   { transform: none; }
    20%  { transform: translate(-3px,  2px) scale(1.02); }
    40%  { transform: translate(-3px, -2px) scale(0.98); }
    60%  { transform: translate( 3px,  2px) scale(1.03); }
    80%  { transform: translate( 3px, -2px) scale(0.99); }
    100% { transform: none; }
}

.admin .booking.age-5 { background: var(--age-5); }
.admin .booking.age-4 { background: var(--age-4); }
.admin .booking.age-3 { background: var(--age-3); }
.admin .booking.age-2 { background: var(--age-2); }
.admin .booking.age-1 { background: var(--age-1); }
.admin .booking.age-0 { background: var(--age-0); }

.admin .booking.age-5 { animation: vibrate-lot 0.2s linear infinite both; }
.admin .booking.age-4 { animation: vibrate-sum 0.3s linear infinite both; }
.admin .booking.age-3 { animation: vibrate-bit 0.4s linear infinite both; }

.admin .booking.age-5:hover { animation: none; }
.admin .booking.age-4:hover { animation: none; }
.admin .booking.age-3:hover { animation: none; }

#bookings:not(.active) .booking { 
    animation: none; 
    filter: saturate( 0 ); 
    opacity: 0.8;
}

.name {
    flex: 1;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    opacity: 0.7;
}

.urgency {
    border-radius: 0.3rem;
    border: 1px solid var(--accent);
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

.urgency.urg-5 { background: var(--urg-5); }
.urgency.urg-4 { background: var(--urg-4); }
.urgency.urg-3 { background: var(--urg-3); }
.urgency.urg-2 { background: var(--urg-2); }
.urgency.urg-1 { background: var(--urg-1); }

.controls {
    position: absolute;
    right: 0.5rem;
    display: none;
    gap: 1rem;
}

.controls a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    line-height: 100%;
    text-decoration: none;
    color: var(--butt-text);
    background: var(--butt-back);
    border-radius: 2.2rem;
    box-shadow: 0 0.1rem 0.2rem var(--shadow);
}

.controls a.bad  { background: var(--butt-stop); }
.controls a.warn { background: var(--butt-warn); }
.controls a.done { background: var(--butt-good); }

.slot.booking:active .controls,
.slot.booking:hover .controls {
    display: flex;
}

#position {
    position: absolute;
    bottom: 25%;
    left: calc((100% - 10rem) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    font-size: 6rem;
    font-weight: 700;
    color: var(--posn-text);
    background: var(--posn-back);
    box-shadow: 0 0.3rem 0.6rem var(--shadow);
}

#position.bad  { background: var(--butt-stop); }
#position.warn { background: var(--butt-warn); }


#controls {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1.2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: flex-end;
}

#controls #status {
    flex: 1;
    opacity: 0.8;
    font-size: 1.1rem;
}

#controls #removebutton {
    display: none;
}

#controls .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3rem;
    color: var(--butt-text);
    background: var(--butt-back);
    font-size: 2rem;
    line-height: 100%;
    box-shadow: 0 0.2rem 0.4rem var(--shadow);
    text-decoration: none;
}

#controls .action.bad {
    background: var(--butt-stop);
}

#controls .action:hover,
#controls .action:active {
    /* transform: translateY(-2px);
    box-shadow: 0 0.3rem 0.6rem var(--shadow); */
    font-size: 2.5rem;
}


@media screen and (min-width: 25rem) {
    body {
        margin: 1.5rem auto;
        height: calc(100vh - 3rem);
    }

    .name {
        font-size: 1.4rem;
    }

}